html,
body {
    margin: 0;
}

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

body {
    /* overflow: hidden; */
    height: inherit;
}

.count {
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto;

    div {
        width: 10vw;
        height: 10vw;
        font-size: 8vw;
        text-align: center;

        &.firstColor {
            color: #CCC;
        }

        &.secondColor {
            color: #0C9C4C;
        }
    }
}

canvas {
    margin: 0 auto;
}